<div class="formReadMode">
  <div class="form-group-custom1">
    <legend i18n="Page header|Data Handler IO Tags Details@@dataHandlerIOTagsDetails" class="m-b-15">Data Handler IO Tags Details</legend>
    <div class="form-row">
      <a (click)="backButton()" class="edit_section">
        <img src="/assets/img/action/edit.png" alt="edit communication i/o tag detail"
          i18n-matTooltip="@@ClicktoeditCommunicationIOTagDetail"
          matTooltip="Click to edit Communication I/O Tag Detail">
      </a>
      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Template Name|Template Name@@templateName" class="">Template Name</label>
        <p>
          {{saveGatewayIODH.templateName}}
        </p>
      </div>
      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Communication|Communication@@communication" class="">Communication</label>
        <p>
          {{saveGatewayIODH.communication}}
        </p>
      </div>

      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Data Handler|Data Handler@@dataHandler" class="">Data Handler</label>
        <p>
          {{saveGatewayIODH.name}}
        </p>
      </div>
      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Operation Mode|Operation Mode@@operationMode" class="">Operation Mode</label>
        <p>
          {{saveGatewayIODH.operationMode}}
        </p>
      </div>

    </div>
    <div class="form-row" *ngFor="let saveGatewayIODHResponseTag of saveGatewayIODHResponseTags">
      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Parent I/O Tag|Parent I/O Tag@@parentIOTag" class="">Parent IO Tag</label>
        <p>
          {{saveGatewayIODHResponseTag.parentNodeIoDHTag}}
        </p>
      </div>
      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Index|Index@@index" class="">Index</label>
        <p>
          {{saveGatewayIODHResponseTag.tagIndex}}
        </p>
      </div>
      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Length|Length@@length" class="">Length</label>
        <p>
          {{saveGatewayIODHResponseTag.tagLength}}
        </p>
      </div>
      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Length Unit|Length Unit@@lengthUnit" class="">Length Unit</label>
        <p>
          {{saveGatewayIODHResponseTag.tagLengthUnitName}}
        </p>
      </div>
      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Length Tag Key Name|Length Tag Key Name@@lengthTagKeyName" class="">Length Tag Key Name</label>
        <p>
          {{saveGatewayIODHResponseTag.tagKeyName}}
        </p>
      </div>
      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Data Format|Data Format@@dataFormat" class="">Data Format</label>
        <p>
          {{saveGatewayIODHResponseTag.dataFormateName}}
        </p>
      </div>
      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Seperator|Seperator@@seperator" class="">Seperator</label>
        <p>
          {{saveGatewayIODHResponseTag.tagSeparator}}
        </p>
      </div>
      <div class="form-group col-sm-6 col-md-6">
        <label i18n="Participate In|Participate In@@participateIn">Participate In</label><br>
        <div class="row">
          <div class="col-md-6">
            <label i18n="Length|Length@@length" class="">Length</label>
            <p>
              {{saveGatewayIODHResponseTag.isParticipantInLength}}
            </p>
          </div>
          <div class="col-md-6">
            <label i18n="Error Check|Error Check@@errorCheck" class="">Error Check</label>
            <p>
              {{saveGatewayIODHResponseTag.isParticipantInErrorCheck}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="path finalLine"></div>
  <div class="row" style="    text-align: right;padding: 23px 0;float:right;">
    <div class="col-md-12">
      <button type="button" class="btn btn-default text-center backActionButton" (click)="backButton()" i18n="Back button|Back@@back"> Back
      </button>
      &nbsp;
      <button i18n="Save button|Save@@save" class="btn btn-primary text-center saveActionButton" type="submit" (click)="onClickSaveGatewayIODH()">
        Save</button>
    </div>
  </div>
</div>
<!-- Model Popup for Save Success -->

<!-- <button type="button" style="display: none" id="popUpWindow" class="btn btn-primary" data-toggle="modal"
   data-target=".bd-example-modal-sm" data-keyboard="false" data-backdrop="static" i18n="@@Popup">
   Pop up
  </button>
  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
       <div class="modal-body">
         <div class="alert alert-success text-center">
           <strong>{{serviceMessage}}</strong>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" (click)="closeSavePopup()"
           data-dismiss="modal" i18n="@@Close">Close</button>
       </div>
     </div>
   </div>
  </div> -->
<!-- Model Popup for Save Success Ends -->
<!-- End Of Pre-View -->
<!-- Loader image -->
<div *ngIf="showLoaderImage" class="col-lg-12" style="margin-left:0%; margin-top:0%;margin-bottom:0%;" align="center">
  <img src="/assets/img/dashboard/ProgressLoader.gif" height="auto" width="50%" alt="Loading........">
</div>
<!-- Global modal notification component selector for cancel and final save form-->
<app-modal-notification (modelNotificationSuccess)="redirectTo()"></app-modal-notification>