<div >
<div class="m-form__group row" style="padding-left: 4%">
  <div class="col-lg-6">
    <label i18n="Name|Name@@name" class="">Name</label>
    <div class="form-group">
      <input [(ngModel)]="pinName" type="text" class="form-control m-input">
      <span id="numberOfPinsValMsg"></span>
    </div>
  </div>
  <div class="col-lg-6">
    <label i18n="Internal Map|Internal Map@@internalMap" class="">Internal Map</label>
    <div class="form-group">
      <input [(ngModel)]="internalMap" type="text" class="form-control m-input">
      <span id="internalMapValMsg"></span>
    </div>
  </div>
</div>
</div>


  