<div class="row">
  <div class="col-md-12">
    <h1 i18n="Page header|Manage Data Handler I/O Response Tags@@manageI/ODataHandlerResponseTags" class="page-header"
      *ngIf="IODHTagForm">
      Manage Data Handler I/O Response Tags
    </h1>
  </div>
</div>

<div class="row margin_0px">
  <div class="col-md-12 padding_0px rowBox">
    <div class="padding_Form">
      <!-- Gateway IO Dh Tag form view starts here  -->
      <form [formGroup]="gatewayIODHResponseTagForm" novalidate (ngSubmit)="previewFormData()" *ngIf="IODHTagForm">
        <div class="form-group-custom1">
          <div class="formBodyCustom1" id="">

            <div class="m-form__group row">
              <div class="col-lg-6">
                <label i18n="Template Name|Template Name@@templateName" class="">Template Name</label>
                <div class="form-group">
                  <input type="text" [readOnly]="true" id="templateName" formControlName="templateName"
                    class="form-control m-input"
                    i18n-placeholder="Template Name placeholder|Template Name@@templateName.placeholder"
                    placeholder="Template Name">
                </div>
                <label i18n="Data Handler|Data Handler@@dataHandler" class="">Data Handler</label>
                <div class="form-group">
                  <input type="text" [readOnly]="true" id="name" formControlName="name" class="form-control m-input"
                    i18n-placeholder="Data Handler Format placeholder|Data Handler Format@@dataHandler.placeholder"
                    placeholder="Data Handler Format">
                </div>
              </div>
              <div class="col-lg-6">
                <label i18n="Communication|Communication@@communication">Communication</label>
                <div class="form-group">
                  <input type="text" [readOnly]="true" formControlName="communication" class="form-control m-input"
                    i18n-placeholder="Communication placeholder|Communication@@communication.placeholder"
                    placeholder="Communication">
                </div>
                <label i18n="Operation Mode|Operation Mode@@operationMode">Operation Mode</label>
                <div class="form-group">
                  <input type="text" [readOnly]="true" formControlName="operationMode" class="form-control m-input"
                    i18n-placeholder="@@operationMode.placeholder" placeholder="Tag Seperator">
                </div>
              </div>
              <div class="col-lg-6"></div>
            </div>
            <div class="m-form__group row">
              <div class="col-lg-6">
                <label i18n="I/O Tag(s) Display|Input/Output Tag(s) Display@@iOTagsDisplay">I/O Tag(s) Display</label>
                <div class="form-group">
                  <mat-radio-group aria-label="Select an option" formControlName="displayIOTag">
                    <mat-radio-button i18n="Radio button|All@@all" value="All" style="margin-right: 20px;"
                      (change)="getGatewayIODHByIODHId()">
                      All gateway IO tag(s)
                    </mat-radio-button>
                    <mat-radio-button i18n="Radio button|Assigned@@assigned" value="Assigned"
                      (change)="aasignedGatewayIODHResonseTags()">Configured in data handler
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="m-form__group row">
              <div class="col-md-12">
                <app-panel-user class="panel-header"
                  i18n-name="Panel header|Data Handler Response I/O Tag Configuration Details@@ManageDataHandlerIOResponseTags"
                  name="Data Handler Response I/O Tag Configuration" #panelHeader>

                </app-panel-user>
                <div class="position-relative">
                  <div class="table-responsive ps position-relative" appScrollbarDirective>
                    <table class="table">
                      <thead>
                        <tr>
                          <th i18n="Option|Select@@select" style="width: 10%;">Check Box</th>
                          <th i18n="Option|I/O Tag@@iOTag" style="width: 15%;">Tag Name</th>
                          <th
                            i18n="Option|Data Handler Response I/O Tag Configuration Details@@iODHResponseTagConfiguration Details">
                            Tag Configuration Details</th>
                        </tr>
                      </thead>
                      <tbody formArrayName="nodeIoDhResponseTags" *ngIf="gatewayIODHTags && gatewayIODHTags.length">
                        <tr [formGroup]="ioTagForm"
                          *ngFor="let ioTagForm of gatewayIODHResponseTagForm.get('nodeIoDhResponseTags')['controls']; let i = index">

                          <td>
                            <div class="col-md-6 col-lg-6 margin_top_30px">
                              <div class="form-group">
                                <mat-checkbox [checked]='isAssign' formControlName="isAssign"
                                  (change)="tagSelected(gatewayIOTags[i].id,$event)"
                                  i18n-matTooltip="Enable/Disable matTooltip|Click to enable/Disable@@clickToEnable/Disable"
                                  matTooltip="Click to Enable/Disable"></mat-checkbox>
                              </div>
                            </div>
                          </td>
                          <td>
                            <input type="hidden" formControlName="nodeIoTagId"
                              [ngModel]="gatewayIODHTags[i].nodeIoTag.id" />
                            <span>{{gatewayIODHTags[i].nodeIoTag.name}}</span>
                          </td>
                          <td>

                            <div class="formBodyCustom1" id="">
                              <div class="m-form__group row">
                                <div class="col-lg-6">
                                  <label i18n="Parent I/O Tag|Parent I/O Tag@@parentIOTag">Parent I/O Tag</label>
                                  <div class="form-group">
                                    <select formControlName="parentGatewayIODHResponseTagId"
                                      class=" form-control m-input">
                                      <option i18n="Option|Select@@select" [ngValue]="null">--Select--</option>
                                      <ng-container *ngFor="let gatewayCommIOTagParent of gatewayIODHResponseTags">
                                        <option
                                          *ngIf="gatewayCommIOTagParent.nodeIoTag.id != gatewayIODHTags[i].nodeIoTag.id"
                                          [ngValue]="gatewayCommIOTagParent.id">
                                          {{gatewayCommIOTagParent.nodeIoTag.name}}
                                        </option>
                                      </ng-container>

                                    </select>
                                  </div>
                                  <label i18n="Length|Length@@length">Length</label>
                                  <div
                                    [ngClass]="{'has-error': ((ioTagForm.get('tagLength').dirty) && ioTagForm.get('tagLength').errors)}">
                                    <input type="text" formControlName="tagLength" class="form-control m-input"
                                      i18n-placeholder="Length placeholder|Enter Length@@length.placeholder"
                                      placeholder="Enter Length">
                                    <span class="help-block" *ngIf="((ioTagForm.get('tagLength').dirty) &&
                ioTagForm.get('tagLength').errors)">
                                      <span i18n="Message|Please enter only Numbers@@length.message"
                                        *ngIf="ioTagForm.get('tagLength').errors.pattern">
                                        Please enter only Numbers
                                      </span>
                                    </span>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <label i18n="Index|Index@@index">Index</label>
                                  <div class="form-group">
                                    <div
                                      [ngClass]="{'has-error': ((ioTagForm.get('tagIndex').dirty) && ioTagForm.get('tagIndex').errors)}">
                                      <input type="text" formControlName="tagIndex" class="form-control m-input"
                                        i18n-placeholder="Index placeholder|Index@@index.placeholder"
                                        placeholder="Index">
                                      <span class="help-block" *ngIf="((ioTagForm.get('tagIndex').dirty) &&
                                    ioTagForm.get('tagIndex').errors)">
                                        <span i18n="Message|Please enter only Numbers@@index.message"
                                          *ngIf="ioTagForm.get('tagIndex').errors.pattern">
                                          Please enter only Numbers
                                        </span>
                                      </span>
                                    </div>
                                  </div>
                                  <label i18n="Length Unit|Length Unit@@lengthUnit">Length Unit</label>
                                  <div class="form-group">
                                    <select formControlName="tagLengthUnit" class=" form-control m-input">
                                      <option i18n="Option|Select@@select" [ngValue]="null">--Select--</option>
                                      <option *ngFor="let tagLengthUnit of tagLengthUnits | orderByAlphabetical:'value'" [value]="tagLengthUnit.id">
                                        {{tagLengthUnit.value}}</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="m-form__group row">
                                <div class="col-lg-6">
                                  <label i18n="Tag Key Name|Tag Key Name@@tagKeyName">Tag Key Name</label>
                                  <div class="form-group">
                                    <input type="text" formControlName="tagKeyName" class="form-control m-input"
                                      i18n-placeholder="Tag Key Name placeholder|Enter Tag Key Name@@tagKeyName.placeholder"
                                      placeholder="Enter Tag Key Name">
                                  </div>
                                  <label i18n="Tag Seperator|Tag Seperator@@tagSeperator">Tag Seperator</label>
                                  <div class="form-group">
                                    <input type="text" formControlName="tagSeparator" class="form-control m-input"
                                      i18n-placeholder="Tag Seperator placeholder|Tag Seperator@@tagSeperator.placeholder"
                                      placeholder="Tag Seperator">
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <label i18n="Data Format|Data Format@@dataFormat">Data Format</label>
                                  <div class="form-group">
                                    <select formControlName="gatewayIODHResponseTagFormatId"
                                      class=" form-control m-input">
                                      <option i18n="Option|Select@@select" [ngValue]="null">--Select--</option>
                                      <option *ngFor="let dataFormat of dataFormats|orderByAlphabetical:'name'" [value]="dataFormat.id">
                                        {{dataFormat.name}}
                                      </option>
                                    </select>
                                  </div>
                                  <label i18n="Participate In|Participate In@@participateIn">Participate In</label>
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                        <mat-checkbox [checked]='false' formControlName="isParticipantInLength"
                                          matTooltip="Click to enable/Disable" i18n="Length|Length@@length">Length
                                        </mat-checkbox>
                                      </div>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                        <mat-checkbox [checked]='false' formControlName="isParticipantInErrorCheck"
                                          matTooltip="Click to enable/Disable"
                                          i18n="Error Check|Error Check@@errorCheck">Error Check</mat-checkbox>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="m-form__group row">
                                <div class="col-lg-6">
                                  <label i18n="Default Value|Default Value@@defaultValue">Default Value</label>
                                  <div class="form-group">
                                    <input type="text" formControlName="defaultValue" class="form-control m-input"
                                      i18n-placeholder="Default Value placeholder|Enter Default Value@@defaultValue.placeholder"
                                      placeholder="Enter Default Value">
                                  </div>
                                </div>
                                <div class="col-lg-6"></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <h3 i18n="No records found text|No records found@@noRecordsFound" class="text-center noRecordsFound"
                      *ngIf="!gatewayIODHTags || gatewayIODHTags.length==0">
                      No records found!
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="path"></div>
        <span class="help-block pull-right" *ngIf="IODHTagError"
          i18n="Tooltip validation|Please select atleast one IO Tag@@pleaseSelectAtleastOneIOTag">Please select atleast
          one IO Tag</span>
        <div class="row" style="    text-align: right;padding: 23px 0;">
          <div class="col-md-12">
            <button type="button" (click)="cancelIODHRespnseTag()"
              class="btn btn-default text-center cancelActionButton" i18n="Cancel button|Cancel@@cancel">
              Cancel
            </button>
            &nbsp;
            <button type="button" class="btn btn-secondary text-center resetActionButton" (click)="resetDHIOTagForm()"
              i18n="Reset button|Reset@@reset">
              Reset </button>
            &nbsp;
            <span>
              <button i18n="Review&Save button|Review&Save@@review&Save" [disabled]="IODHTagError"
                class="btn btn-primary text-center reviewAndSaveActionButton" type="submit" [disabled]="">
                Review & Save</button>
            </span>
          </div>
        </div>
      </form>

      <div class="formReadMode" *ngIf="previewIODHResponseTagForm">
        <div class="form-group-custom1">
          <legend
            i18n="Page header|Preview Data Handler Response IO Tags Details@@previewDataHandlerResponseIOTagsDetails"
            class="m-b-15">Preview Data Handler Response IO Tags Details</legend>
          <div class="form-row">
            <a (click)="backButton()" class="edit_section">
              <img src="/assets/img/action/edit.png" alt="edit communication i/o tag detail"
                i18n-matTooltip="@@ClicktoeditCommunicationIOTagDetail"
                matTooltip="Click to edit Communication I/O Tag Detail">
            </a>
            <div class="form-group col-sm-6 col-md-6">
              <label i18n="Template Name|Template Name@@templateName" class="">Template Name</label>
              <p>
                {{saveGatewayIODH.templateName | hyphen}}
              </p>
            </div>
            <div class="form-group col-sm-6 col-md-6">
              <label i18n="Communication|Communication@@communication" class="">Communication</label>
              <p>
                {{saveGatewayIODH.communication | hyphen}}
              </p>
            </div>

            <div class="form-group col-sm-6 col-md-6">
              <label i18n="Data Handler|Data Handler@@dataHandler" class="">Data Handler</label>
              <p>
                {{saveGatewayIODH.name | hyphen}}
              </p>
            </div>
            <div class="form-group col-sm-6 col-md-6">
              <label i18n="Operation Mode|Operation Mode@@operationMode" class="">Operation Mode</label>
              <p>
                {{saveGatewayIODH.operationMode | hyphen}}
              </p>
            </div>

          </div>
          <fieldset class="mb-4 fieldset_class">
            <legend class="m-b-15 w-auto">Tag Configuration Details</legend>
            <app-dh-tag *ngFor="let gatewayIODhTag of updatedTags" [IOTagItem]="gatewayIODhTag"></app-dh-tag>

            <div class="form-row d-none" *ngFor="let saveGatewayIODHResponseTag of saveGatewayIODHResponseTags">
              <legend class="m-b-15 ml-1" i18n="I/O Tag Name|I/O TagName@@IOTagName">
                {{saveGatewayIODHResponseTag.tagName | hyphen}}
              </legend>
              <div class="form-group col-sm-6 col-md-6">
                <label i18n="Parent I/O Tag|Parent I/O Tag@@parentIOTag" class="">Parent IO Tag</label>
                <p>
                  {{saveGatewayIODHResponseTag.parentNodeIoDHTag | hyphen}}
                </p>
              </div>

              <div class="form-group col-sm-6 col-md-6">
                <label i18n="Index|Index@@index" class="">Index</label>
                <p>
                  {{saveGatewayIODHResponseTag.tagIndex | hyphen}}
                </p>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                <label i18n="Length|Length@@length" class="">Length</label>
                <p>
                  {{saveGatewayIODHResponseTag.tagLength | hyphen}}
                </p>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                <label i18n="Length Unit|Length Unit@@lengthUnit" class="">Length Unit</label>
                <p>
                  {{saveGatewayIODHResponseTag.tagLengthUnitName | hyphen}}
                </p>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                <label i18n="Length Tag Key Name|Length Tag Key Name@@lengthTagKeyName" class="">Length Tag Key
                  Name</label>
                <p>
                  {{saveGatewayIODHResponseTag.tagKeyName | hyphen}}
                </p>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                <label i18n="Data Format|Data Format@@dataFormat" class="">Data Format</label>
                <p>
                  {{saveGatewayIODHResponseTag.dataFormateName | hyphen}}
                </p>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                <label i18n="Seperator|Seperator@@seperator" class="">Seperator</label>
                <p>
                  {{saveGatewayIODHResponseTag.tagSeparator | hyphen}}
                </p>
              </div>
              <div class="form-group col-sm-6 col-md-6">
                <label i18n="Participate In|Participate In@@participateIn">Participate In</label><br>
                <div class="row">
                  <div class="col-md-6">
                    <label i18n="Length|Length@@length" class="">Length</label>
                    <p>
                      {{saveGatewayIODHResponseTag.isParticipantInLength | hyphen}}
                    </p>
                  </div>
                  <div class="col-md-6">
                    <label i18n="Error Check|Error Check@@errorCheck" class="">Error Check</label>
                    <p>
                      {{saveGatewayIODHResponseTag.isParticipantInErrorCheck | hyphen}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="path"></div>
            </div>
          </fieldset>

          <div class="path finalLine"></div>
          <div class="row" style="    text-align: right;padding: 23px 0;">
            <div class="col-md-12">
              <button type="button" class="btn btn-default text-center backActionButton" (click)="backButton()"
                i18n="Back button|Back@@back"> Back
              </button>
              &nbsp;
              <button i18n="Save button|Save@@save" class="btn btn-primary text-center saveActionButton" type="submit"
                (click)="onClickSaveGatewayIODH()">
                Save</button>
            </div>
          </div>
        </div>
        <!-- Model Popup for Save Success -->

        <!-- <button type="button" style="display: none" id="popUpWindow" class="btn btn-primary" data-toggle="modal"
       data-target=".bd-example-modal-sm" data-keyboard="false" data-backdrop="static" i18n="@@Popup">
       Pop up
      </button>
      <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
       aria-hidden="true">
       <div class="modal-dialog modal-sm">
         <div class="modal-content">
           <div class="modal-body">
             <div class="alert alert-success text-center">
               <strong>{{serviceMessage}}</strong>
             </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" (click)="closeSavePopup()"
               data-dismiss="modal" i18n="@@Close">Close</button>
           </div>
         </div>
       </div>
      </div> -->
        <!-- Model Popup for Save Success Ends -->
        <!-- End Of Pre-View -->
      </div>
    </div>
  </div>

  <!-- Loader image -->
  <div *ngIf="showLoaderImage" class="col-lg-12 loaderImageStyle"
    style="margin-left:0%; margin-top:0%;margin-bottom:0%;" align="center">
    <img src="/assets/img/dashboard/ProgressLoader.gif" height="auto" width="50%" alt="Loading........">
  </div>
  <!-- Global modal notification component selector for cancel and final save form-->
  <app-modal-notification (modelNotificationWarning)="formResetConfirm()" (modelNotificationSuccess)="redirectTo()">
  </app-modal-notification>